body {
  display: flex;
  flex-direction: column;
}

.form-container {
  margin: auto;
  display: flex;
}

.submit {
  border-radius: 5px;
  border: none;
  cursor: pointer;
  background-color: lightblue;
  padding: 10px;
  font-weight: bold;
}

.add,
.remove {
  border-radius: 50%;
  border: none;
  cursor: pointer;
  background-color: lightblue;
  font-weight: bold;
  padding: 10px;
  font-size: 20px;
}

.delete {
  border-radius: 5px;
  border: none;
  cursor: pointer;
  background-color: lightcoral;
  padding: 10px;
  font-weight: bold;
}

.submit:hover {
  border: 1px solid black;
}

.title {
  margin: auto;
}

.container {
  background-color: #f0f0f0;
  height: fit-content;
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  color: darkblue;
}

.total-container {
  background-color: #f0f0f0;
  height: fit-content;
  width: 80%;
  margin: auto;
  color: darkblue;
}

.star-container {
  display: flex;
  line-height: 2em;
  justify-content: space-around;
  width: 100%;
}

.star-container h1 {
  margin: 0;
  width: 50%;
}

.star {
  visibility: hidden;
}

.star.star-active {
  visibility: visible;
}

.awesome {
  color: rgb(206, 13, 45);
}
