body {
  display: flex;
  flex-direction: column;
}

.form-container {
  margin: auto;
  display: flex;
}

#new-chore {
  height: 2em;
  border-radius: 5px;
}

#new-chore:focus {
  outline-color: lightblue;
}

.submit {
  border-radius: 5px;
  border: none;
  cursor: pointer;
  background-color: purple;
  color: yellow;
  padding: 10px;
  font-weight: bold;
}

.add,
.remove {
  border-radius: 50%;
  border: none;
  cursor: pointer;
  background-color: transparent;
  font-weight: bold;
  padding: 10px;
  font-size: 20px;
}

.delete {
  border-radius: 5px;
  border: none;
  cursor: pointer;
  background-color: red;
  color: #fff;
  font-weight: bold;
}

.submit:hover {
  border: 1px solid black;
}

.title {
  margin: auto;
  color: purple;
}

.container {
  background-color: #f0f0f0;
  height: fit-content;
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: inherit;
  justify-content: space-around;
  border-radius: 10px;
}

.total-container {
  background-color: #f0f0f0;
  height: fit-content;
  width: 80%;
  margin: auto;
  color: purple;
}

.star-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.star-container h2 {
  margin: auto;
  width: fit-content;
  background-color: purple;
  color: yellow;
  border-radius: 5px;
  overflow: visible;
  padding: 5px;
}

.star {
  visibility: hidden;
  font-size: 24px;
}

.star.star-active {
  visibility: visible;
}

.awesome {
  color: rgb(206, 13, 180);
}
